/* ----------------------- Variables ----------------------- */

:root {
	/* --color-primary: #3949AB; */
	/* --color-secondary: #FB8C00; */
}

@charset "utf-8";


#map {
	width: 100vw;
	height: 100vh;
}

.leaflet-container.cursor-marker {
	cursor: url(../assets/marker-default-red.png) 10 20, auto !important;
}

.leaflet-popup-content-wrapper {
	text-align: right;
	font-family: IRANSans;
}

.addMarkerButton {
	/* top: 50%; */
	/* background-origin: content-box; */
	/* left: 10px; */
	height: 30px;
	min-width: 134px;
	min-width: 135px;
	z-index: 9999;
	border: none;
	border-radius: 3px;
	/* border: none; */
	/* border-radius: 3px; */
	color: white;
	background: #ccc url(../assets/marker-default-red.svg) no-repeat 6px center;
	background-size:  22px;
	line-height: 0;
	outline: none;
	text-align: right;
	padding:  15px !important;
	margin: 0 auto 0;
}

.addMarkerButton:hover{
	background-color: #ddd;
}

.addMarkerButton:active{
	border: 1px solid #ccc;
}
